<h1 align="center">Test <%= @adaptive_test.id %></h1>

<h1><%= @question.title %></h1>

<form action="next_question" method="POST">
  <input type="text" name="enter_field">
  <input type="submit" value="Ok">
</form>


