.answers {
  color: #555;
  font-size: 16px;
}

.link_button {
  font-size: 20px;  
}

.run_button {
  font-size: 16px;
  background-color: #AAAAFF; 
  padding: 3px;
}
.run_button:hover {
  background-color: #7777FF;
  color: #FFF;
}
/*
#crud_link {
}

#crud_list {
  display: none;
}

#crud_link:hover #crud_list:hover {
  display: block;
}
*/
